DATABASE_URL=postgresql://postgres.pwwuaxjzasfxrdgvnlvp:rhdqngo123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://pwwuaxjzasfxrdgvnlvp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3d3VheGp6YXNmeHJkZ3ZubHZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM0MjcxNTUsImV4cCI6MjA2OTAwMzE1NX0.q7hDrjtAalgsz8UCFJibRgPaCQ2vy6mdXxIap-MKIuc
SUPABASE_SERVICE_ROLE_KEY=여기에_서비스_롤_키_입력
SECRET_KEY=여기에_랜덤하고_긴_문자열_입력
API_URL=https://advice-production-d210.up.railway.app 